[Desktop Entry]
Version=1.0
Type=Application
Exec=ghostty -e /bin/sh -c "fastfetch; read -n 1 -s -r -p 'Press any key to close...'"
Name=Fastfetch
Comment=System About, TUI