[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=Gmail (Chromium)
Exec=chromium --app=https://mail.google.com/mail
Terminal=false
Categories=Network;
StartupWMClass=https://mail.google.com/mail