[Desktop Entry]
Version=1.0
Type=Application
Name=Outlook Web App
Comment=Outlook Web App (Chromium)
Exec=chromium --app=https://outlook.office.com/mail/
Terminal=false
Categories=Network;
StartupWMClass=https://outlook.office.com/mail/