[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo ghostty -e tufw
Name=TUFW
Comment=[TUI] Uncomplicated Firewall
Categories=Network